body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.container {
    text-align: center;
}

.weather-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.weather-button {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #005eff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.weather-button:hover {
    background-color: #9eb300;
}

.weather-info {
    margin-left: 20px;
    font-size: 18px;
    color: #333333;
}
